<!DOCTYPE html>
<html>
<head> 
	<title><%= title %></title>
	<base href="/">
	 <!-- BOOSTRAP 4 -->
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/lux/bootstrap.min.css"
    />
    <!-- FONT AWSOME -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
</head>
<body>
	<div class="container p-4">
		<mean-app>
			<h1>Loading...</h1>
		</mean-app>
	</div>
	<script type="text/javascript">
		window.user = <%= user || 'null' %>;
	</script>
	
	<script src="lib/core-js/client/shim.min.js"></script>
	<script src="lib/zone.js/dist/zone.js"></script>
	<script src="lib/reflect-metadata/Reflect.js"></script>
	<script src="lib/systemjs/dist/system.js"></script>
	
	<script src="systemjs.config.js"></script>
	<script>
		System.import('app').catch(function(err){ console.error(err); });
	</script>

</body>
</html>